<h1>Simple Circles</h1>
{{simple-circles data=circles}}

<h1>Diverging Stacked Bar</h1>
<h2>good for Likard scale questions
  <span class="based-on">
    (based on: 
    <a href="http://bl.ocks.org/wpoely86/e285b8e4c7b84710e463">http://bl.ocks.org/wpoely86/e285b8e4c7b84710e463</a> 
    )
  </span>
</h2>

{{diverging-stacked-bar data=divergingStackedBar}}

<h1>Circle Dragging</h1>
<h2>Interactive usage on canvas instead of SVG
  <span class="based-on">
    (based on: 
    <a href="https://bl.ocks.org/mbostock/444757cc9f0fde320a5f469cd36860f4">https://bl.ocks.org/mbostock/444757cc9f0fde320a5f469cd36860f4</a> 
    )
  </span>
</h2>

{{circle-dragging 
  data=circleDraggingData
  radius=circleDraggingRadius
  width=circleDraggingWidth
  heigh=circleDraggingHeight
}}

<h1>Difference Chart</h1>
<h2>Shows variation between two data streams along common timeline
  <span class="based-on">
    (based on: 
    <a href="https://bl.ocks.org/mbostock/3894205">https://bl.ocks.org/mbostock/3894205</a> 
    )
  </span>
</h2>

{{difference-chart
  data=weatherData
}}

<h1>Stacked Negative Values</h1>
<h2>A stack chart for both positive and negative values
  <span class="based-on">
    (based on: 
    <a href="https://bl.ocks.org/mbostock/b5935342c6d21928111928401e2c8608">https://bl.ocks.org/mbostock/b5935342c6d21928111928401e2c8608</a> 
    )
  </span>
</h2>

{{stacked-negative-values
  data=stackedNegativeValues
}}
